<!-- FOOTER -->
<footer class="footer">
	<div class="row list-inline">
		<div class="col-md-12">
			<div class="pull-left footer-brand-statistics-division">
				<a href="http://www.un.org/en">
					<img src="img/logos/logo_StatisticsDivision2_small.png">
				</a>
			</div>
			<div class="pull-right flip">
				<section class="region region-footer-5">
					<div id="block-menu-menu-footer-links" class="block block-menu">
						<h4 class="font-bold">Footer Links</h4>
						<ul class="menu nav">
							<!-- Visualization contact form : server needed
							<li class="first leaf"><a href="" data-toggle="modal" data-target="#contactModal" >Contact</a></li> -->
							<!-- UN contact form -->
							<li class="leaf"><a href="#" data-toggle="modal" data-target="#copyrightModal">About this Data </a></li>
							<li class="first leaf"><a href="#" data-toggle="modal" data-target="#aboutModal">About this Page</a></li>
							<li class="leaf"><a href="http://www.un.org/en/contact-us/index.html">Contact</a></li>
							<li class="leaf"><a href="http://www.un.org/en/aboutun/copyright/index.html">Copyright</a></li>
							<li class="leaf"><a href="http://www.un.org/en/aboutun/fraudalert/">Fraud Alert</a></li>
							<li class="leaf"><a href="http://www.un.org/en/aboutun/privacy/">Privacy Notice</a></li>
							<li class="leaf"><a href="http://www.un.org/en/aboutun/terms/">Terms of Use</a></li>
							<li class="last leaf">
								<a href="https://unite.un.org/">
									<img id="footer-unite" src="img/powered-by-unite.png" alt="Powered by Unite">
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</footer>
<!-- END OF FOOTER -->

<!-- MODAL -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">
					MINIMUM SET
					<br>OF GENDER INDICATORS
					<br>
					<img id="deptLogo" src='img/powered-by-unite.png' />
				</h2>
			</div>
			<div class="modal-body">
				<h5>Brought to you by:</h5>
				<div class="row">
					<div class="col-md-6">
						<img id="deptLogo" src='img/logos/logo.png' />
						<br>United Nations Statistics Division
					</div>
					<div class="col-md-6">
						<img id="deptLogo" src='img/logos/logo.png' />
						<br>Office of Information
						<br>and Communication Technology
					</div>
					<br>
					<br>
				</div>
				<div class="row">
					<h5>In partnership with:</h5>
					<img id="qlikLogo" src='img/logos/qlik-logo.png' />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="copyrightModal" tabindex="-1" role="dialog" aria-labelledby="copyrightModel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">
					About this data
					<br>
				</h2>
			</div>
			<div class="modal-body sec-center">
				<p class="copyright text-muted small">Copyright &copy; United Nations 2015. All Rights Reserved</p>
				    <br>
				    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
							<img alt="Creative Commons License" style="border-width:0" class="img-center" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
						</a>
						<br />
				    <p class="text-muted small">Minimum Set of Gender Indicators by the United Nations Statistics Division is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License.</p>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="social-media">
	<section class="region region-closure">
		<div id="block-block-1" class="block block-block">
			<ul>
				<li class="facebook" data-toggle="tooltip" data-placement="top" title="Share on Facebook"><a href="" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fgenderstats.un.org%2F&title=Minimum Set of Gender Indicators','_blank', 'width=400,height=500')">Facebook</a></li>
				<li class="twitter" data-toggle="tooltip" data-placement="top" title="Share on Twitter"><a href="" onclick="window.open('http://twitter.com/intent/tweet?status=Minimum Set of Gender Indicators+http%3A%2F%2Fgenderstats.un.org%2F','_blank', 'width=400,height=500')">Twitter</a></li>
				<li class="google" data-toggle="tooltip" data-placement="top" title="Share on Google+"><a href="" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fgenderstats.un.org%2F','_blank', 'width=400,height=250')">Google+</a></li>
				<li class="tumblr" data-toggle="tooltip" data-placement="top" title="Share on Tumblr"><a href="" , onclick="window.open('http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fgenderstats.un.org%2F&t=UN Budget Visualization','_blank', 'width=400,height=500')">Tumblr</a></li>
				<li class="email" data-toggle="tooltip" data-placement="top" title="Share on Email"><a href="mailto:?subject=Minimum Set of Gender Indicators&body=http%3A%2F%2Fgenderstats.un.org%2F">Email</a></li>
				<li class="copylink" id="copyBtn" data-toggle="tooltip" data-placement="top" title="Copy Link" clipboard text="textToCopy"><a href="">Copy Link</a></li>
			</ul>
		</div>
	</section>
</div>
